/* Module styles */

// Header module
header {
	background-color: $headerColor;
	padding: 0;
	width: 100%;
	h1 {
		float: left;
		line-height: 1em !important;
		margin: {
			top: 32px !important;
			bottom: 0 !important;
		}
	}
	a, i {
		color: #edf2f8;
		text-decoration: none;
	}
	a:hover {
		color: #edf2f8;
	}
	@include breakpoint(mobile-tablet) {
		min-height: 55px;
		position: fixed; 
		top: 0;
		z-index: 10;
		h1 {
			margin-top: 10px !important;
			width: 100px !important;
		}
	}
	@include breakpoint(mobile-portrait) {
		.grid-container {
			margin: 0;
			width: 100%;
		}
		h1 {
			margin: {
				top: 10px !important;
				left: 20px !important;
			}
		}
	}
	@include breakpoint(tablet) {
		.grid-container {
			max-width: 748px;
		}
	}
}
.header__logo {
	background: url(../../images/logo.png) left center no-repeat;
	background-size: 100%;
	display: inline-block;
	max-width: 135px;
	min-height: 41px;
	overflow: hidden;
	text-indent: 120%;
	white-space: nowrap;
	width: 100%;
	@include breakpoint(mobile-tablet) {
		min-height: 25px;
		width: 100%;
	}
}
.header__contact {
	padding-right: 5px;
	ul { 
		float: right;
		margin: 12px 0;
		padding: 0;
		li { 
			display: inline-block; 
			border-left: 1px solid rgba(255,255,255, 0.25);
			list-style-type: none;
			padding: 0 8px 0 10px;
			position: relative;
		}
		li:first-child {
			border: none;
			padding: {
				right: 5px;
				left: 0;
			}
		}
		li:last-child {
			border: none;
			a {
				background: $lightBlue;
				border-radius: 3px;
				padding: 7px 15px;
			}
			a:hover {
				text-decoration: underline;
			}
		}
	}
	.loc-trigger:before {
		border-right: 1px solid $headerColor;
		cursor: pointer;
		margin: {
			right: -5px;
			left: -3px;
		}
		padding: 4px 6px;
	}
	.loc-list {
		background-color: #fff;
		border: {
			right: 1px solid #ccc;
			bottom: 1px solid #ccc;
			left: 1px solid #ccc;
		}
		display: none;
		padding: 5px;
		position: absolute; 
		right: 0;
		top: 13px;
		width: 310px;
		z-index: 3;
		li {
			display: block;
			padding: 5px;
			a, i {
				color: $lightBlue;
			}
		}
		li:last-child a {
			background: none;
			padding: 0;
		}
	}
	input {
		border: none;
	}
	@include breakpoint(mobile-tablet) {
		display: none;
	}
}
.header__search {
	background: #415d79;
	display: inline-block;
	float: right;
	margin: 10px 15px 0 0;
	padding: 2px 5px 2px 15px;
	overflow: hidden;
	div {
		display: inline;
	}
}
.header__search:hover .header__search__input, .header__search .header-search__input:focus {
	outline: none;
}
.header__search__input {
	background: #415d79;
	color: #edf2f8;
	font-size: 14px;
	margin-right: -3px;
	padding: 3px 0;
}
.header__search__icon {
	margin-left: 0;
	padding: 13px 5px 15px 13px;
	position: relative;
}
.header__search__submit {
	cursor: pointer;
	position: absolute;
	opacity: 0;
	filter: alpha(opacity=0);
	top: 5px;
	right: 5px;
	padding: 0;
	margin: 0;
	height: 30px;
	width: 30px;
}

// Primary navigation
.header__nav {
	margin-top: -25px;
	position: relative;
	ul {
		float: right;
		margin: 10px 0 0 0;
	}
	li {
		border-radius: 4px 4px 0 0;
		display: inline-block;
		list-style-type: none;
		margin: 0 5px;
		padding: 10px 0;
		position: relative;
		a {
			padding: 5px 15px;
			display: block;
			i {
				display: none;
			}
		}
		a:hover {	
			background: $lightBlue;
			color: #fff;
		}	
		ul { 
			display: none; 
		}
		li:hover a {
			background: $lightBlue;
			color: #fff;
		}
		&:last-child {
			margin-right: 0;
		}
	}
	.current, li:hover {
		background: #f2f2f2;
		a {
			color: $headerColor;
		}
		a:hover { 
			color: #fff;
		}
	}
	.current {
		background: #fff;
	}
	li > ul {
		background: #f2f2f2;
		margin: 0;
		padding: 10px 0 0 0;
		position: absolute;
		top: 48px;
		width: 250px;
		z-index: 3;
		li { 
			display: block;
			margin: 0;
			padding: 0;
			position: relative;
			a {
				border-radius: 0;
				color: $headerColor;
				padding: 10px 15px;
			}
			a:hover {	
				background: $lightBlue;
				color: #fff;
			}	
			&:last-child {
				margin-right: 5px;
			}
			ul {
				background: $lightBlue;
				display: none;
				position: absolute;
				left: 100%;
				margin: 0;
				padding: 0;
				top: 0;
				li {
					a {
						color: #fff !important;
					}
					&:last-child {
						margin-right: 0;
					}
				}
				li:hover {
					a {
						background: lighten($lightBlue, 5);
					}
				}
			}
		}
	}
	li:hover > ul { 
		display: block; 
	}
	li:last-child {
		padding-right: 0;
	}
	li:last-child > ul {
		left: inherit;
		right: 0;
		li {
			ul {
				left: inherit;
				right: 100%;
			}
		}
	}

	// Header search for mobile
	.header__search {
		background: transparent;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		display: none;
		margin: 0;
		padding: 20px;
		width: 100%;
	}
	.header__search__input {
		background: #fff;
		border: 1px solid #ddd;
		color: #555;
		margin-right: 4px;
		padding: 5px 10px;
		width: 75%;
		@include breakpoint(mobile-landscape) {
			margin-right: 7px;
			width: 80%;
		}
		@include breakpoint(tablet) {
			width: 90%;
		}
	}
	.header__search:hover .header__search__input, .header__search .header__search__input:focus {
		margin-right: 4px;
		padding: 5px 10px;
		width: 80%;
		@include breakpoint(mobile-landscape) {
			margin-right: 7px;
			width: 85%;
		}
		@include breakpoint(tablet) {
			width: 90%;
		}
	}
	.header__search__icon {
		padding: {
			top: 13px;
			right: 0;
			bottom: 15px;
			left: 9px;
		}
		width: 10%;
		i:before {
			color: $headerColor;
		}
		@include breakpoint(mobile-landscape) {
			padding: {
				top: 13px;
				right: 0;
				bottom: 15px;
				left: 13px;
			}
			width: 15%;
		}
		@include breakpoint(tablet) {
			width: 10%;
		}
	}

	// Mobile header nav 
	@include breakpoint(mobile-tablet) {
		background: #f2f2f2;
		display: none !important;
		margin-top: 0;
		max-height: 385px;
		overflow-y: scroll;
		padding: 5px 0 0 0;
		position: absolute; 
		top: 55px;
		ul {
			margin: 0;
			padding: 0;
			width: 100%;
		}
		li {
			border-top: 1px solid #ddd;
			border-radius: 0;
			margin: 0;
			padding: 0;
			width: 100%; 
			a {
				color: $lightBlue;
				font-size: em(18px);
				padding: {
					top: 15px;
					bottom: 15px;
				}
			}
			a:hover {
				background: none;
				color: $lightBlue;
			}
		}
		li:after {
			visibility: hidden;
			display: block;
			content: "";
			clear: both;
			height: 0;
		}
		li > ul {
			background: #e5e5e5;
			margin: 0 0 0 0;
			padding: 0;
			position: static;
			width: 100%;
			li {
				border-top: 1px solid #dadada;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				a {
					color: $lightBlue;
					font-size: em(16px);
					padding: {
						top: 17px;
						bottom: 17px;
						left: 25px;
					}
				}
				a:hover {
					background: none;
				}
			}
			li:hover {
				background: none;
				a {
					background: none;
					color: $lightBlue;
				}
			}
			li > ul {
				background: #cacaca;
				margin-left: -20px;
				position: static;
				li {
					border-top: 1px solid #c1c1c1;
					a {
						padding-left: 40px;
					}
				}
				li:hover {
					background: none;
					a {
						background: none;
						color: #fff;
					}
				}
			}
		}
		li:hover {
			a:hover {
				color: $lightBlue;
			}
		}
		li:hover > ul { 
			display: none; 
		}
		.current a, li:hover a {
			border-radius: 0;
			color: $lightBlue;
		}
		.header__search {
			display: block;
		}
		.subnav-trigger {
			background: #e8e8e8;
			border-left: 1px solid #ddd;
			color: $lightBlue;
			display: inline-block;
			padding: 15px 19px 15px 19px;
			position: absolute;
			right: 0;
			top: 0;
		}
		.subnav-trigger:before {
			color: $lightBlue;
			font-size: 21px;
		}
	}
	@include breakpoint(mobile-portrait) {
		width: 100% !important;
	}
	@include breakpoint(mobile-landscape) {
		max-height: 200px;
	}
	@include breakpoint(tablet) {
		max-height: 845px;
		max-width: 748px;
		right: -10px;
	}

	// Mobile header contact 
	.header__contact {
		display: none; 
	}
	@include breakpoint(mobile-tablet) {
		.header__contact {
			li {
				border: {
					top: 1px solid #d0d0d0; 
					left: 1px solid #d0d0d0;
				}
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				float: left;
				width: 50%;
				text-align: center;
				a {
					background: #dbdbdb;
					font-size: em(14px);
					padding: 20px;
				}
			}
			li:first-child, li:last-child {
				border-left: none;
			}
			li:nth-child(3) {
				display: none;
			}
			li:last-child {
				background: #dbdbdb;
				padding: 15px;
				width: 100%;
				a {
					background: $lightBlue;
					border-radius: 3px;
					color: #fff;
					max-width: 320px;
					margin: 0 auto;
					padding: 12px;
				}
			}
		}
		@include breakpoint(tablet) {
			.header__contact li:last-child a {
				max-width: 220px;
			}
		}
		.loc-trigger {
			display: none;
		}
	}
}

// Mobile/Tablet nav trigger
.header__nav-trigger {
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: none;
	font-size: 21px;
	padding: 17px;
	position: absolute;
	right: 0px;
	text-align: center;
	top: 0;
	@include breakpoint(mobile-tablet) {
		display: block;
	}
}

header + .grid-container, header + .container  {
	@include breakpoint(mobile-tablet) {
		margin-top: 85px;
	}
}






@import "../vendor/flexslider.css";

.taft { // Temporarily namespaces module styles to prevent them from affecting non-refactored pages

// Flexslider module
.flexslider {
	.slides {
		li {
			min-height: 220px;
			img {
				-webkit-border-radius: 5px; 
				-moz-border-radius: 5px; 
				-o-border-radius: 5px; 
				border-radius: 5px;
				min-height: 220px;
				min-width: 940px;
			}
			// Skip first two children because Flexslider creates clone elements for performance
			&:nth-child(2) {
				.flexslider__slide-content {
					background-color: rgba($homepageSlide1, 0.9);
					color: $homepageSlide1Text;
					a {
						color: $homepageSlide1Text;
					}
				}
			}
			&:nth-child(3) {
				.flexslider__slide-content {
					background-color: rgba($homepageSlide2, 0.9);
					color: $homepageSlide2Text;
					a {
						color: $homepageSlide2Text;
					}
				}
			}
			&:nth-child(4) {
				.flexslider__slide-content {
					background-color: rgba($homepageSlide3, 0.9);
					color: $homepageSlide3Text;
					a {
						color: $homepageSlide3Text;
					}
				}
			}
			&:nth-child(5) {
				.flexslider__slide-content {
					background-color: rgba($homepageSlide4, 0.9);
					color: $homepageSlide4Text;
					a {
						color: $homepageSlide4Text;
					}
				}
			}
		}
		@include breakpoint(tablet) {
			li {
				min-height: 171px;
				img {
					min-height: 171px;
					min-width: 748px;
				}
			}
		}
		@include breakpoint(mobile-portrait) {
			min-height: 250px;
			li {
				min-height: 69px;
				img {
					-webkit-border-bottom-left-radius: 0;
					-webkit-border-bottom-right-radius: 0;
					-moz-border-radius-bottomleft: 0;
					-moz-border-radius-bottomright: 0;
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
					min-height: 69px;
					min-width: 300px;
				}
			}
		}
		@include breakpoint(mobile-landscape) {
			li {
				min-height: 96px;
				img {
					min-height: 96px;
					min-width: 420px;
				}
			}
		}
	}
}
.flexslider__slide-content {
	background-color: rgba(255,255,255, 0.9);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	-o-border-radius: 3px; 
	border-radius: 3px;
	left: 20px;
	max-width: 330px;
	padding: 20px;
	position: absolute; 
	top: 20px;
	h3 {
		font: {
		    family: 'Karbon Regular', Helvetica, sans-serif;
		    size: em(26px);
		}
		line-height: 1em;
		margin: 0;
	}
	a {
		font-size: em(18px);
		text-decoration: none;
	}
	@include breakpoint(tablet) {
		padding: 15px 20px;
		h3 {
			font-size: em(24px);
		}
		p {
			font-size: em(14px);
		}
	}
	@include breakpoint(mobile-portrait) {
		-webkit-border-top-left-radius: 0;
		-webkit-border-top-right-radius: 0;
		-moz-border-radius-topleft: 0;
		-moz-border-radius-topright: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		left: inherit;
		max-width: none;
		padding: 15px 20px;
		top: 100%;
		width: 100%;
		h3 {
			font-size: em(18px);
		}
		p, a {
			font-size: em(14px);
		}
	}
}
.flex-direction-nav {
	display: none;
	.flex-next, .flex-prev {
		height: 28px;
		width: 28px;
		top: 34%;
	}
	.flex-next:before, .flex-prev:before {
		font-size: em(24px);
	}
	@include breakpoint(mobile-portrait) {
		display: block;
		.flex-next, .flex-prev {
			top: 24%;
		}
	}
	@include breakpoint(mobile-landscape) {
		.flex-next, .flex-prev {
			top: 34%;
		}
	}
}
.flex-control-nav {
	max-width: 180px;
	position: absolute;
	right: 0;
	top: 20px;
	z-index: 2;
	li {
		color: #fff;
		cursor: pointer;
		margin: 0;
		padding: 12px 0;
		position: relative;
		width: 100%;
		&.flex-active:before {
			border: {
				top: 7px solid transparent;
				right: 10px solid #fff;
				bottom: 7px solid transparent;
				left: none;
			}
			content:"";
			position: absolute;
			right: 0;
			top: 13px;
		}
		&:first-child {
			background-color: #829aaf;
			-webkit-border-top-left-radius: 3px;
			-moz-border-radius-topleft: 3px;
			border-top-left-radius: 3px;
			&:hover {
				background-color: darken(#829aaf, 3);
			}
		}
		&:nth-child(2) {
			background-color: #708596;
			&:hover {
				background-color: darken(#708596, 3);
			}
		}
		&:nth-child(3) {
			background-color: #556674;
			&:hover {
				background-color: darken(#556674, 3);
			}
		}
		&:last-child {
			background-color: #35414c;
			-webkit-border-bottom-left-radius: 4px;
			-moz-border-radius-bottomleft: 4px;
			border-bottom-left-radius: 4px;
			&:hover {
				background-color: darken(#35414c, 5);
			}
		}
	}
	@include breakpoint(tablet) { 
		top: 15px;
		li {
			font-size: em(14px);
			padding: 10px 0;
		}
	}
	@include breakpoint(mobile-portrait) {
		display: none;
	}
}


//Featured Clouds module
.featured-clouds {
	background-color: #35414C;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	.row {
		margin-bottom: 10px;
	}
}
.featured-clouds__individual {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	padding: {
		right: 15px;
		bottom: 15px;
		left: 15px;
	}
	text-align: center;
	a {
		text-decoration: none;
	}
	h3 {
		color: #fff;
		font-size: em(22px);
		line-height: 24px;
		margin-bottom: 5px;
	}
	p {
		color: #829aaf;
		font-size: em(16px);
		line-height: 20px;
		margin-top: 10px;
	}
	&.-apps{
		background: url(../../images/apps-cloud.png) center 25px no-repeat;
		padding-top: 55px;
		@include breakpoint(mobile-portrait) {
			a {
			line-height: 28px;
				}
		}
	}
	&.-visualization{
		background: url(../../images/vis-cloud.png) center 25px no-repeat;
		padding-top: 55px;
	}
	&.-development{
		background: url(../../images/dev-cloud.png) center 25px no-repeat;
		padding-top: 55px;
	}
	&.-management{
		background: url(../../images/man-cloud.png) center 25px no-repeat;
		padding-top: 55px;
	}
}
.featured-clouds__flexible-deployment {
	background-color: #586977;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	color: rgb(130, 154, 175);
	padding: 10px;
	text-align: center;
	p {
		margin: 0;
	}
	a {
		text-decoration: none;
	}
}


//Featured companies module
.featured-companies {
	background: url(../../images/homepage-customer-banner.gif) bottom no-repeat;
	background-size: 100%;
	margin-bottom: 35px !important;
	padding-bottom: 50px;
	padding-top: 35px;
	position: relative;
	h3 {
		font-size: em(20px);
		line-height: 24px;
		color: #35414c;
	}
	a {
		bottom: 0;
		display: block;
		height: 50px;
		position: absolute;
		width: 100%;
	}
	@include breakpoint(mobile-portrait) {
		background: url(../../images/homepage-customer-banner-mobile.gif) bottom no-repeat;
		background-size: 100%;
		padding-bottom: 85px;
		h3 {
			font-size: em(16px);
		}
		a {
			height: 85px;
		}
	}
	@include breakpoint(mobile-landscape) {
		padding-bottom: 120px;
		a {
			height: 120px;
		}
	}
}


//Feedbox module
.feed-box {
	background-color: #edf2f8;
	-webkit-box-shadow: -4px 0 0 0 #006097;
	-moz-box-shadow: -4px 0 0 0 #006097;
	box-shadow: -4px 0 0 0 #006097;
	border: {
		top: 1px solid #ccc;
		right: 1px solid #ccc;
		bottom: 1px solid #ccc;
	}
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	h3 {
		font-size: em(21px);
		line-height: 24px;
		padding: 0 15px;
	}
	ul {
		padding: {
			left: 15px;
			top: 10px;
		}
		li {
			display: inline-block;
			list-style-type: none;
			padding-right:15px;
			a {
				text-decoration: none;
			}
		}
	}
	@include breakpoint(mobile-portrait) {
		margin-bottom: 20px !important;
		h3 + .feed-box__article {
			padding-top: 0;
		}
	}
	@include breakpoint (mobile-tablet) {
		ul {
			li {
				display: block;
				padding-bottom: 5px; 
				}
		}
	}
}
.feed-box__article {
	@include breakpoint (mobile-portrait) {
		padding-top: 10px;
	}
	.article-type {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box; 
		box-sizing: border-box;
		display: block;
		float: left;
		padding: 0 0 0 15px;
		width: 20%;
		@include breakpoint (mobile-tablet) {
			width: 25%;
		}
		@include breakpoint(mobile-portrait) {
			font-size: em(14px);
			padding-bottom: 5px;
			width: 100%;
		}
	}
	.article-body {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box; 
		box-sizing: border-box;
		float: left;
		padding: 0 15px;
		width: 80%;
		h4 {
			font-size: em(16px);
			margin: {
				top: 0;
				bottom: 5px;
			}
			a {
				text-decoration: none;
			}
		}
		.byline {
			color: #999;
			line-height: 1.35em;
			margin: {
				bottom: 5px;
				top: 0;
			}
		}
		time {
			color: #999;
			font-size: em(14px);
		}
		@include breakpoint(mobile-tablet) {
			padding: 0 10px;
			width: 75%;
		}
		@include breakpoint(mobile-portrait) {
			width: 100%;
			padding: 0 15px;
			.byline {
				font-size: em(14px);
			}
		}
	}
}


// Basic Tabs module
.tabs {
	border-bottom: 1px solid #ddd;
	clear: both;
	margin: 0.75em 0;
	padding: 0;
	li {
		background-color: #fff;
		-webkit-border-top-left-radius: 3px;
		-webkit-border-top-right-radius: 3px;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-topright: 3px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px; 
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box; 
		box-sizing: border-box;
		display: inline-block;
		margin-bottom: -1px;
		text-align: center;
		a {
			color: #444;
			display: block;
			padding: 0.75em 0;
			text-decoration: none;
		}
		&.-active {
			border: {
				top: 1px solid #ddd;
				right: 1px solid #ddd;
				left: 1px solid #ddd;
			}
		}
	}
	&.-select {
	  	background: #fff url(../../images/ui_select.png) 98% 50% no-repeat;
	  	border: 1px solid #ddd;
	  	border-radius: 0;
	  	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box; 
	  	box-sizing: border-box;
	  	color: #444;
	  	cursor: pointer;
	  	display: none;
	  	font-size: 1em;
	  	padding: 0.75em;
	  	-webkit-appearance: none;
	}
	@include breakpoint(mobile-tablet) {
		display: none !important;
		li {
			width: 100% !important;
		}
		&.-select {
			background-position: 98% 50%;
			display: block !important;
		}
	}
	@include breakpoint(mobile-portrait) {
		&.-select {
			background-position: 96% 50%;
		}
	}
}


//Article List module
.article-list {
	
}
.article-list__item {
	margin-bottom: 35px;
	h4 {
		font-size: em(18px);
		line-height: 20px;
		margin-bottom: 2px;
		margin-top: 0;
		a {
			color: #0090ea;
			text-decoration: none;
		}
	}
	p {
		color: #586977;
		font-size: em(16px);
		line-height: 22px;
		margin-bottom: 8px;
		margin-top: 2px;
	}
	time {
		color: #586977;
		font-size: em(14px);
		line-height: 20px;
	}
	.article-link {
		margin-top: 10px;
		text-decoration: none;
	}
	.article-thumbnail {
		img {
			width: 100%;
			@include breakpoint(mobile-landscape) {
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 80%;
			}
			@include breakpoint(mobile-portrait) {
				margin-bottom: 15px;
			}
		}
	}
	@include breakpoint(mobile-tablet) {
		h4 {
			font-size: em(16px);
			}
		time {
			font-size: em(14px);
			}
		}
	@include breakpoint(mobile-portrait) {
		h4 {
			//text-align: center;
		}
		p {
			//text-align: center;
		}
	}
}


//Pagination module
.pagination {
	text-align: center;
	ul {
		padding-left: 0;
	}
	@include breakpoint(mobile-tablet) {
		text-align: center;
	}
}

.pagination__item {
	background-color: #dfdfdf;
	display: inline-block;
	margin-left: 15px;

	&.-current {
		background-color: #0476bd;
		color: #fff;
		padding: 3px 8px;
	}
	
	&:first-child {
		margin-left: 0;
	}

	a {
		color: #0476bd;
		display: block;
		padding: 3px 8px;
		text-decoration: none;
	}
	@include breakpoint(mobile-tablet) {
		margin-left: 10px;
		&:first-child {
			margin-left: 0;
		}
	}
}


//Glossary module
.glossary {
	padding-left: 0;
	ul {
		padding-left: 0;
		li {
			list-style-type: none;
			margin-bottom: 15px;
			a {
				//font-size: em(16px);
				line-height: em(21px);
				text-decoration: none;
				@include breakpoint(mobile-portrait) {
					font-size: em(14px);
				}
			}
		}
	}
}





} // End temporary.taft namespacing




//Footer modules
footer {
	clear: both;
	background-color: #EDF2F8;
	border-top: 1px solid #959595;
	margin-top: 45px;
	padding: 35px 0 55px 0;
	width: 100%;
	p {
		color: #586977;
		font-size: em(12px);
	}
	@include breakpoint(tablet) {
		.grid-container div:last-child{
		margin-top: -40px;
	}
	}
	@include breakpoint(mobile-portrait) {
		text-align: center;
	} 
}
.footer__contact {
	padding-left: 0;
	li {
		border-left: 1px solid #586977;
		display: inline-block;
		line-height: 17px;
		padding: 0 10px;
		a {
			font-size: em(18px);
			text-decoration: none;
		}
		a[href^="tel:"] {
			color: #586977;
		}
	}
	li:first-child{
		border-left: none;
		padding-left: 0;
	}
	li:last-child{
		padding-right: 0;
	}
	@include breakpoint(mobile-portrait) {
		li {
			a {
				font-size: em(12px);
				line-height: 12px;
			}
		}
	}
}
.footer__fineprint {
	@extend .footer__contact;
	li {
		line-height: 12px;
		a {
			font-size: em(12px);
		}
	}
}
.footer__social {
	float: right;
	padding: 0;
	margin-bottom: 0;
	li {
		display: inline-block;
		padding-left: 15px;
		a {
			background: url(../../images/socialicons.png) no-repeat;
			display: block;
			height: 28px;
			overflow: hidden;
			text-indent: 100%;
			white-space: nowrap;
			width: 28px;
		}

	}
	.twitter a:hover {
		background-position: 0 -28px;
	}
	.facebook a {
		background-position: -43px 0;
	}
	.facebook a:hover {
		background-position: -43px -28px;
	}
	.linkedin a {
		background-position: -87px 0px;
	}
	.linkedin a:hover {
		background-position: -87px -28px;
	}
	.youtube a {
		background-position: -131px 0px;
	}
	.youtube a:hover {
		background-position: -131px -28px;
	}
	.slideshare a {
		background-position: -173px 0px;
	}
	.slideshare a:hover {
		background-position: -173px -28px;
	}
	.google a {
		background-position: -217px 0px;
	}
	.google a:hover {
		background-position: -217px -28px;
	}
	@include breakpoint(tablet) {
		padding-left: 50px;
		.twitter, .facebook, .linkedin {
			padding-bottom: 15px;
		}
	}
	@include breakpoint(mobile-portrait) {
		float: none;
		margin: {
			right: auto;
			left: auto;
		}
		width: 276px;
		li:first-child{
			padding-left: 0;
		}
	} 
}



// Styleguide specific styles -- *Not for use in production*
h2.styleguide-heading {
	border-top: 2px dashed #eee;
	font-size: em(48px);
	margin: 1.5em 10px 0.25em 10px !important;
	padding-top: 0.5em;
	&:first-child {
		border-top: none;
		margin-top: 0.5em !important;
		padding-top: 0;
	}
	@include breakpoint(tablet) {
		margin: {
			right: 15px !important;
			left: 15px !important;
		}
	}
	@include breakpoint(mobile-portrait) {
		font-size: em(36px);
		margin: {
			right: 0 !important;
			left: 0 !important;
		}
	}
}
h3.styleguide-heading {
	font-size: em(28px);
	margin: 2em 10px 1em 10px !important;
	border-bottom: 1px solid #ddd;
	@include breakpoint(tablet) {
		margin: {
			right: 10px !important;
			left: 10px !important;
		}
	}
	@include breakpoint(mobile-portrait) {
		font-size: em(24px);
		margin: {
			right: 0 !important;
			left: 0 !important;
		}
	}
}


