/* Module styles */

// Header module
header {
	background-color: $headerColor;
	padding-bottom: 0;
	margin-bottom: 50px;
	width: 100%;

	h1 {
		margin: 0.75em 0 0.5em 0;
	}

	@include breakpoint(mobile-tablet) {
		min-height: 55px;
		position: fixed; 
		top: 0;
		z-index: 10;
		h1 {
			margin-top: 10px !important;
			width: 100px !important;
		}
	}
	@include breakpoint(mobile-portrait) {
		.grid-container {
			margin: 0;
			width: 100%;
		}
	}
	@include breakpoint(tablet) {
		.grid-container {
			max-width: 748px;
		}
	}
}
.header__logo {
	background: url(../../images/logo.png) left center no-repeat;
	background-size: 100%;
	display: inline-block;
	max-width: 135px;
	min-height: 41px;
	overflow: hidden;
	position: relative;
	text-indent: 120%;
	white-space: nowrap;
	width: 100%;
	z-index: 2;
	@include breakpoint(mobile-tablet) {
		min-height: 25px;
		width: 100%;
	}
}


header + .grid-container, header + .container  {
	@include breakpoint(mobile-tablet) {
		margin-top: 85px;
	}
}




// Article Detail module

.article-detail__body {
	h2:first-child {
		margin-top: 0;
	}
	h2 + h3 {
		font-size: em(24px);
		margin-top: -20px; // Reduce gap without affecting h2 margin in case there is no subheading
		margin-bottom: 0.75em;
	}
	img {
		margin: 0 0 1em 0;
		&.-left {
			margin-right: 30px;
		}
		&.-left {
			margin-left: 30px;
		}
	}
}

.article-detail__sidebar {
	h3 {
		font-size: em(24px);
		&:first-child {
			margin-top: 0;
		}
	}
}

.socialicon {
	height: 27px;
	width: 27px;
}


// Form module

.author {
	margin-left: 0;
	margin-top: 30px;
	@include breakpoint(mobile-portrait) {
		margin-top: 5px;
	}
}
.bio {
	margin-top: 30px;
	h5 {
		display: inline-block;
		margin-bottom: 0;
		margin-top: 0;
		}
	
	.thumbnail {
		margin-right: 0;
		img {
			border-radius: 150px;
			-webkit-border-radius: 150px;
			-moz-border-radius: 150px;
			background: url(http://link-to-your/image.jpg) no-repeat;
			height: 80px;
			width: 80px;
		}
	}
	@include breakpoint(tablet) {
		h5 {
			margin-left: 10px;
		}
		p {
			margin-left: 10px;
		}
		.thumbnail img {
			height: 70px;
			width: 70px;
		}
	}
	@include breakpoint(mobile-portrait) {
		h5 {
			margin-left: 0;
		}
	}	
}
.detail {
	a {
		text-decoration: none;
	}
	h3 {
		line-height: 32px;
		margin-bottom: 20px;
		margin-top: 0;
		}
		h3.datetime {
			margin-bottom: 5px;
		}
	h5 {
		display: block;
	}
	iframe.webinar {
		style: overflow hidden; 
		scrolling: none;
	}
	li {
		color: #586977;
		line-height: 22px;
	}
	p {
		color: #586977;
		line-height: 22px;
	}
	p.datetime {
			margin-top: 0;
		}
}


.socialicon {
	height: 27px;
	width: 27px;
}






//Buttons module 

a.button {
	border: none;
	background: $lightBlue;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	font-family: 'Frutiger Regular', sans-serif;
	padding: 7px 15px;
	&:hover {
		background-color: lighten($lightBlue, 3);
	}
}



// Form styles

label {
	clear: both;
	display: block;
	padding-bottom: 10px;
	&:after {
		visibility: hidden;
		display: block;
		content: "";
		clear: both;
		height: 0;
	}
	b {
		box-sizing: border-box;
		color: #707070;
		display: inline-block;
		float: left;
		text-align: right;
		font-family: "Frutiger Regular", Arial, sans-serif;
		font-size: em(14px);
		padding-right: 10px;
		width: 35%;

	}
	input {
		box-sizing: border-box;
		float: left;
		width: 65%;
	}
	@include breakpoint(tablet) {
		b {
			font-size: em(12px);
		}
	}
}

button {
	@extend a.button;
	font-size: em(16px);
	float: right;
}





//Footer modules
footer {
	clear: both;
	background-color: #EDF2F8;
	border-top: 1px solid #959595;
	margin-top: 45px;
	overflow: auto;
	padding: 35px 0 55px 0;
	width: 100%;
	p {
		color: #586977;
		font-size: em(12px);
	}
	@include breakpoint(tablet) {
		.grid-container div:last-child{
		margin-top: -40px;
	}
	}
	@include breakpoint(mobile-portrait) {
		text-align: center;
	} 
}
.footer__contact {
	padding-left: 0;
	li {
		border-left: 1px solid #586977;
		display: inline-block;
		line-height: 17px;
		padding: 0 10px;
		a {
			font-size: em(18px);
			text-decoration: none;
		}
		a[href^="tel:"] {
			color: #586977;
		}
	}
	li:first-child{
		border-left: none;
		padding-left: 0;
	}
	li:last-child{
		padding-right: 0;
	}
	@include breakpoint(mobile-portrait) {
		li {
			a {
				font-size: em(12px);
				line-height: 12px;
			}
		}
	}
}
.footer__fineprint {
	@extend .footer__contact;
	li {
		line-height: 12px;
		a {
			font-size: em(12px);
		}
	}
}
.footer__social {
	float: right;
	padding: 0;
	margin-bottom: 0;
	li {
		display: inline-block;
		padding-left: 15px;
		a {
			background: url(../../images/socialicons.png) no-repeat;
			display: block;
			height: 28px;
			overflow: hidden;
			text-indent: 100%;
			white-space: nowrap;
			width: 28px;
		}

	}
	.twitter a:hover {
		background-position: 0 -28px;
	}
	.facebook a {
		background-position: -43px 0;
	}
	.facebook a:hover {
		background-position: -43px -28px;
	}
	.linkedin a {
		background-position: -87px 0px;
	}
	.linkedin a:hover {
		background-position: -87px -28px;
	}
	.youtube a {
		background-position: -131px 0px;
	}
	.youtube a:hover {
		background-position: -131px -28px;
	}
	.slideshare a {
		background-position: -173px 0px;
	}
	.slideshare a:hover {
		background-position: -173px -28px;
	}
	.google a {
		background-position: -217px 0px;
	}
	.google a:hover {
		background-position: -217px -28px;
	}
	@include breakpoint(tablet) {
		padding-left: 50px;
		.twitter, .facebook, .linkedin {
			padding-bottom: 15px;
		}
	}
	@include breakpoint(mobile-portrait) {
		float: none;
		margin: {
			right: auto;
			left: auto;
		}
		width: 276px;
		li:first-child{
			padding-left: 0;
		}
	} 
}



// Styleguide specific styles -- *Not for use in production*
h2.styleguide-heading {
	border-top: 2px dashed #eee;
	font-size: em(48px);
	margin: 1.5em 10px 0.25em 10px !important;
	padding-top: 0.5em;
	&:first-child {
		border-top: none;
		margin-top: 0.5em !important;
		padding-top: 0;
	}
	@include breakpoint(tablet) {
		margin: {
			right: 15px !important;
			left: 15px !important;
		}
	}
	@include breakpoint(mobile-portrait) {
		font-size: em(36px);
		margin: {
			right: 0 !important;
			left: 0 !important;
		}
	}
}
h3.styleguide-heading {
	font-size: em(28px);
	margin: 2em 10px 1em 10px !important;
	border-bottom: 1px solid #ddd;
	@include breakpoint(tablet) {
		margin: {
			right: 10px !important;
			left: 10px !important;
		}
	}
	@include breakpoint(mobile-portrait) {
		font-size: em(24px);
		margin: {
			right: 0 !important;
			left: 0 !important;
		}
	}
}


