@import url(../vendor/skeleton.css);
@import url(../vendor/flexslider.css);
/* Base styles */
@font-face {
  font-family: 'Frutiger Regular';
  src: url("../../fonts/FrutigerNext_LT_Regular.eot");
  src: url("../../fonts/FrutigerNext_LT_Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/FrutigerNext_LT_Regular.woff") format("woff"), url("../../fonts/FrutigerNext_LT_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Karbon Regular';
  src: url("../../fonts/karbon-regular-webfont.eot");
  src: url("../../fonts/karbon-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/karbon-regular-webfont.woff") format("woff"), url("../../fonts/karbon-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Karbon Light';
  src: url("../../fonts/karbon-light-webfont.eot");
  src: url("../../fonts/karbon-light-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/karbon-light-webfont.woff") format("woff"), url("../../fonts/karbon-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Frutiger Regular', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Karbon Light', Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1.35em;
  margin: 1em 0; }

h2 {
  font-family: 'Karbon Regular', Helvetica, sans-serif;
  font-size: 2.5em; }
  @media only screen and (max-width: 767px) {
    h2 {
      font-size: 1.625em; } }

h4 {
  font-family: 'Frutiger Regular', sans-serif;
  font-size: 1.5em; }

a {
  color: #00a3d9; }

a:hover {
  color: #0090c0; }

.centered {
  text-align: center; }

/* Layout styles */
/* Module styles */
header {
  background-color: #113457;
  padding: 0;
  width: 100%; }
  header h1 {
    float: left;
    line-height: 1em;
    margin: 32px 0 0 0; }
  header a, header i {
    color: #edf2f8;
    text-decoration: none; }
  header a:hover {
    color: #edf2f8; }
  @media only screen and (max-width: 959px) {
    header {
      min-height: 55px;
      position: fixed;
      top: 0;
      z-index: 10; }
      header h1 {
        margin-top: 10px !important;
        width: 100px !important; } }
  @media only screen and (max-width: 767px) {
    header .container {
      margin: 0;
      width: 100%; }
    header h1 {
      margin-top: 10px !important;
      margin-left: 20px !important; } }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    header .container {
      max-width: 748px; } }

.header__logo {
  background: url(../../images/logo.png) left center no-repeat;
  background-size: 100%;
  display: inline-block;
  max-width: 135px;
  min-height: 41px;
  overflow: hidden;
  text-indent: 120%;
  white-space: nowrap; }
  @media only screen and (max-width: 959px) {
    .header__logo {
      min-height: 25px;
      width: 100%; } }

.header__contact {
  padding-right: 10px; }
  .header__contact ul {
    float: right;
    margin: 12px 0;
    padding: 0; }
    .header__contact ul li {
      display: inline-block;
      border-left: 1px solid rgba(255, 255, 255, 0.25);
      list-style-type: none;
      padding: 0 8px 0 10px;
      position: relative; }
    .header__contact ul li:first-child {
      border: none;
      padding-right: 5px;
      padding-left: 0; }
    .header__contact ul li:last-child {
      border: none; }
      .header__contact ul li:last-child a {
        background: #00a3d9;
        border-radius: 3px;
        padding: 7px 15px; }
      .header__contact ul li:last-child a:hover {
        text-decoration: underline; }
  .header__contact .loc-trigger:before {
    border-right: 1px solid #113457;
    cursor: pointer;
    margin-right: -5px;
    margin-left: -3px;
    padding: 4px 6px; }
  .header__contact .loc-list {
    background-color: #fff;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    display: none;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 13px;
    width: 310px;
    z-index: 3; }
    .header__contact .loc-list li {
      display: block;
      padding: 5px; }
      .header__contact .loc-list li a, .header__contact .loc-list li i {
        color: #00a3d9; }
    .header__contact .loc-list li:last-child a {
      background: none;
      padding: 0; }
  .header__contact input {
    border: none; }
  @media only screen and (max-width: 959px) {
    .header__contact {
      display: none; } }

.header__search {
  background: #415d79;
  display: inline-block;
  float: right;
  margin: 10px 15px 0 0;
  padding: 2px 5px 2px 15px;
  overflow: hidden; }
  .header__search div {
    display: inline; }

.header__search:hover .header__search__input, .header__search .header-search__input:focus {
  outline: none; }

.header__search__input {
  background: #415d79;
  color: #edf2f8;
  font-size: 14px;
  margin-right: -3px;
  padding: 3px 0; }

.header__search__icon {
  margin-left: 0;
  padding: 13px 5px 15px 13px;
  position: relative; }

.header__search__submit {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  top: 5px;
  right: 5px;
  padding: 0;
  margin: 0;
  height: 30px;
  width: 30px; }

.header__nav {
  margin-top: -25px;
  position: relative; }
  .header__nav ul {
    float: right;
    margin: 10px 0 0 0; }
  .header__nav li {
    border-radius: 4px 4px 0 0;
    display: inline-block;
    list-style-type: none;
    margin: 0 5px;
    padding: 10px 0;
    position: relative; }
    .header__nav li a {
      padding: 5px 15px;
      display: block; }
      .header__nav li a i {
        display: none; }
    .header__nav li a:hover {
      background: #00a3d9;
      color: #fff; }
    .header__nav li ul {
      display: none; }
    .header__nav li li:hover a {
      background: #00a3d9;
      color: #fff; }
  .header__nav .current, .header__nav li:hover {
    background: #f2f2f2; }
    .header__nav .current a, .header__nav li:hover a {
      color: #113457; }
    .header__nav .current a:hover, .header__nav li:hover a:hover {
      color: #fff; }
  .header__nav .current {
    background: #fff; }
  .header__nav li > ul {
    background: #f2f2f2;
    margin: 0;
    padding: 10px 0 0 0;
    position: absolute;
    top: 48px;
    width: 250px;
    z-index: 3; }
    .header__nav li > ul li {
      display: block;
      margin: 0;
      padding: 0;
      position: relative; }
      .header__nav li > ul li a {
        border-radius: 0;
        color: #113457;
        padding: 10px 15px; }
      .header__nav li > ul li a:hover {
        background: #00a3d9;
        color: #fff; }
      .header__nav li > ul li ul {
        background: #00a3d9;
        display: none;
        position: absolute;
        left: 100%;
        margin: 0;
        padding: 0;
        top: 0; }
        .header__nav li > ul li ul li a {
          color: #fff !important; }
        .header__nav li > ul li ul li:hover a {
          background: #00b6f3; }
  .header__nav li:hover > ul {
    display: block; }
  .header__nav li:last-child {
    padding-right: 0; }
  .header__nav li:last-child > ul {
    left: inherit;
    right: 0; }
    .header__nav li:last-child > ul li ul {
      left: inherit;
      right: 100%; }
  .header__nav .header__search {
    background: transparent;
    box-sizing: border-box;
    display: none;
    margin: 0;
    padding: 20px;
    width: 100%; }
  .header__nav .header__search__input {
    background: #fff;
    border: 1px solid #ddd;
    color: #555;
    margin-right: 4px;
    padding: 5px 10px;
    width: 80%; }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      .header__nav .header__search__input {
        margin-right: 7px;
        width: 85%; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) {
      .header__nav .header__search__input {
        width: 90%; } }
  .header__nav .header__search:hover .header__search__input, .header__nav .header__search .header__search__input:focus {
    margin-right: 4px;
    padding: 5px 10px;
    width: 80%; }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      .header__nav .header__search:hover .header__search__input, .header__nav .header__search .header__search__input:focus {
        margin-right: 7px;
        width: 85%; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) {
      .header__nav .header__search:hover .header__search__input, .header__nav .header__search .header__search__input:focus {
        width: 90%; } }
  .header__nav .header__search__icon {
    padding-top: 13px;
    padding-right: 0;
    padding-bottom: 15px;
    padding-left: 9px;
    width: 10%; }
    .header__nav .header__search__icon i:before {
      color: #113457; }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      .header__nav .header__search__icon {
        padding-top: 13px;
        padding-right: 0;
        padding-bottom: 15px;
        padding-left: 13px;
        width: 15%; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) {
      .header__nav .header__search__icon {
        width: 10%; } }
  @media only screen and (max-width: 959px) {
    .header__nav {
      background: #f2f2f2;
      display: none !important;
      margin-top: 0;
      max-height: 385px;
      overflow-y: scroll;
      padding: 5px 0 0 0;
      position: absolute;
      top: 55px; }
      .header__nav ul {
        margin: 0;
        padding: 0;
        width: 100%; }
      .header__nav li {
        border-top: 1px solid #ddd;
        border-radius: 0;
        margin: 0;
        padding: 0;
        width: 100%; }
        .header__nav li a {
          color: #00a3d9;
          font-size: 1.125em;
          padding-top: 15px;
          padding-bottom: 15px; }
        .header__nav li a:hover {
          background: none;
          color: #00a3d9; }
      .header__nav li:after {
        visibility: hidden;
        display: block;
        content: "";
        clear: both;
        height: 0; }
      .header__nav li > ul {
        background: #e5e5e5;
        margin: 0 0 0 0;
        padding: 0;
        position: static;
        width: 100%; }
        .header__nav li > ul li {
          border-top: 1px solid #dadada;
          box-sizing: border-box; }
          .header__nav li > ul li a {
            color: #00a3d9;
            font-size: 1em;
            padding-top: 17px;
            padding-bottom: 17px;
            padding-left: 25px; }
          .header__nav li > ul li a:hover {
            background: none; }
        .header__nav li > ul li:hover {
          background: none; }
          .header__nav li > ul li:hover a {
            background: none;
            color: #00a3d9; }
        .header__nav li > ul li > ul {
          background: #cacaca;
          margin-left: -20px;
          position: static; }
          .header__nav li > ul li > ul li {
            border-top: 1px solid #c1c1c1; }
            .header__nav li > ul li > ul li a {
              padding-left: 40px; }
          .header__nav li > ul li > ul li:hover {
            background: none; }
            .header__nav li > ul li > ul li:hover a {
              background: none;
              color: #fff; }
      .header__nav li:hover a:hover {
        color: #00a3d9; }
      .header__nav li:hover > ul {
        display: none; }
      .header__nav .current a, .header__nav li:hover a {
        border-radius: 0;
        color: #00a3d9; }
      .header__nav .header__search {
        display: block; }
      .header__nav .subnav-trigger {
        background: #e8e8e8;
        border-left: 1px solid #ddd;
        color: #00a3d9;
        display: inline-block;
        padding: 15px 19px 15px 19px;
        position: absolute;
        right: 0;
        top: 0; }
      .header__nav .subnav-trigger:before {
        color: #00a3d9;
        font-size: 21px; } }
  @media only screen and (max-width: 767px) {
    .header__nav {
      width: 100% !important; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .header__nav {
      max-height: 200px; } }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .header__nav {
      max-height: 845px;
      max-width: 748px;
      right: -10px; } }
  .header__nav .header__contact {
    display: none; }
  @media only screen and (max-width: 959px) {
    .header__nav .header__contact li {
      border-top: 1px solid #d0d0d0;
      border-left: 1px solid #d0d0d0;
      box-sizing: border-box;
      float: left;
      width: 50%;
      text-align: center; }
      .header__nav .header__contact li a {
        background: #dbdbdb;
        font-size: 0.875em;
        padding: 20px; }
    .header__nav .header__contact li:first-child, .header__nav .header__contact li:last-child {
      border-left: none; }
    .header__nav .header__contact li:nth-child(3) {
      display: none; }
    .header__nav .header__contact li:last-child {
      background: #dbdbdb;
      padding: 15px;
      width: 100%; }
      .header__nav .header__contact li:last-child a {
        background: #00a3d9;
        border-radius: 3px;
        color: #fff;
        max-width: 320px;
        margin: 0 auto;
        padding: 12px; }
    .header__nav .loc-trigger {
      display: none; } }
  @media only screen and (max-width: 959px) and (min-width: 768px) and (max-width: 959px) {
    .header__nav .header__contact li:last-child a {
      max-width: 220px; } }

.header__nav-trigger {
  color: white;
  cursor: pointer;
  display: none;
  font-size: 21px;
  padding: 17px;
  position: absolute;
  right: 0px;
  text-align: center;
  top: 0; }
  @media only screen and (max-width: 959px) {
    .header__nav-trigger {
      display: block; } }

@media only screen and (max-width: 959px) {
  header + .container {
    margin-top: 85px; } }

.flexslider .slides li {
  min-height: 220px; }
  .flexslider .slides li img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    min-height: 220px;
    min-width: 940px; }
  .flexslider .slides li:nth-child(2) .flexslider__slide-content {
    background-color: rgba(255, 255, 255, 0.9);
    color: #f04c23; }
    .flexslider .slides li:nth-child(2) .flexslider__slide-content a {
      color: #f04c23; }
  .flexslider .slides li:nth-child(3) .flexslider__slide-content {
    background-color: rgba(250, 102, 4, 0.9);
    color: white; }
    .flexslider .slides li:nth-child(3) .flexslider__slide-content a {
      color: white; }
  .flexslider .slides li:nth-child(4) .flexslider__slide-content {
    background-color: rgba(13, 163, 215, 0.9);
    color: white; }
    .flexslider .slides li:nth-child(4) .flexslider__slide-content a {
      color: white; }
  .flexslider .slides li:nth-child(5) .flexslider__slide-content {
    background-color: rgba(10, 156, 74, 0.9);
    color: white; }
    .flexslider .slides li:nth-child(5) .flexslider__slide-content a {
      color: white; }
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .flexslider .slides li {
    min-height: 171px; }
    .flexslider .slides li img {
      min-height: 171px;
      min-width: 748px; } }
@media only screen and (max-width: 767px) {
  .flexslider .slides {
    min-height: 250px; }
    .flexslider .slides li {
      min-height: 69px; }
      .flexslider .slides li img {
        -webkit-border-bottom-left-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        -moz-border-radius-bottomleft: 0;
        -moz-border-radius-bottomright: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        min-height: 69px;
        min-width: 300px; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .flexslider .slides li {
    min-height: 96px; }
    .flexslider .slides li img {
      min-height: 96px;
      min-width: 420px; } }

.flexslider__slide-content {
  background-color: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  left: 20px;
  max-width: 330px;
  padding: 20px;
  position: absolute;
  top: 20px; }
  .flexslider__slide-content h3 {
    font-family: 'Karbon Regular', Helvetica, sans-serif;
    font-size: 1.625em;
    margin: 0; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .flexslider__slide-content {
      padding: 15px 20px; }
      .flexslider__slide-content h3 {
        font-size: 1.5em; }
      .flexslider__slide-content p {
        font-size: 0.875em; } }
  @media only screen and (max-width: 767px) {
    .flexslider__slide-content {
      -webkit-border-top-left-radius: 0;
      -webkit-border-top-right-radius: 0;
      -moz-border-radius-topleft: 0;
      -moz-border-radius-topright: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      left: inherit;
      max-width: none;
      padding: 15px 20px;
      top: 100%;
      width: 100%; }
      .flexslider__slide-content h3 {
        font-size: 1.125em; }
      .flexslider__slide-content p, .flexslider__slide-content a {
        font-size: 0.875em; } }

.flex-direction-nav {
  display: none; }
  .flex-direction-nav .flex-next, .flex-direction-nav .flex-prev {
    height: 28px;
    width: 28px;
    top: 34%; }
  .flex-direction-nav .flex-next:before, .flex-direction-nav .flex-prev:before {
    font-size: 1.5em; }
  @media only screen and (max-width: 767px) {
    .flex-direction-nav {
      display: block; }
      .flex-direction-nav .flex-next, .flex-direction-nav .flex-prev {
        top: 24%; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .flex-direction-nav .flex-next, .flex-direction-nav .flex-prev {
      top: 34%; } }

.flex-control-nav {
  max-width: 180px;
  position: absolute;
  right: 0;
  top: 20px;
  z-index: 2; }
  .flex-control-nav li {
    color: #fff;
    cursor: pointer;
    margin: 0;
    padding: 12px 0;
    position: relative;
    width: 100%; }
    .flex-control-nav li.flex-active:before {
      border-top: 7px solid transparent;
      border-right: 10px solid #fff;
      border-bottom: 7px solid transparent;
      border-left: none;
      content: "";
      position: absolute;
      right: 0;
      top: 13px; }
    .flex-control-nav li:first-child {
      background-color: #829aaf;
      -webkit-border-top-left-radius: 3px;
      -moz-border-radius-topleft: 3px;
      border-top-left-radius: 3px; }
      .flex-control-nav li:first-child:hover {
        background-color: #7992a9; }
    .flex-control-nav li:nth-child(2) {
      background-color: #708596; }
      .flex-control-nav li:nth-child(2):hover {
        background-color: #687d8e; }
    .flex-control-nav li:nth-child(3) {
      background-color: #556674; }
      .flex-control-nav li:nth-child(3):hover {
        background-color: #4f5e6b; }
    .flex-control-nav li:last-child {
      background-color: #35414c;
      -webkit-border-bottom-left-radius: 4px;
      -moz-border-radius-bottomleft: 4px;
      border-bottom-left-radius: 4px; }
      .flex-control-nav li:last-child:hover {
        background-color: #2b343d; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .flex-control-nav {
      top: 15px; }
      .flex-control-nav li {
        font-size: 0.875em;
        padding: 10px 0; } }
  @media only screen and (max-width: 767px) {
    .flex-control-nav {
      display: none; } }

.featured-clouds {
  background-color: #35414C;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  .featured-clouds .row {
    margin-bottom: 10px; }

.featured-clouds__individual {
  box-sizing: border-box;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  text-align: center; }
  .featured-clouds__individual a {
    text-decoration: none; }
  .featured-clouds__individual h3 {
    color: #fff;
    font-size: 1.375em;
    line-height: 24px;
    margin-bottom: 5px; }
  .featured-clouds__individual p {
    color: #829aaf;
    font-size: 1em;
    line-height: 20px;
    margin-top: 10px; }
  .featured-clouds__individual.-apps {
    background: url(../../images/apps-cloud.png) center 25px no-repeat;
    padding-top: 55px; }
    @media only screen and (max-width: 767px) {
      .featured-clouds__individual.-apps a {
        line-height: 28px; } }
  .featured-clouds__individual.-visualization {
    background: url(../../images/vis-cloud.png) center 25px no-repeat;
    padding-top: 55px; }
  .featured-clouds__individual.-development {
    background: url(../../images/dev-cloud.png) center 25px no-repeat;
    padding-top: 55px; }
  .featured-clouds__individual.-management {
    background: url(../../images/man-cloud.png) center 25px no-repeat;
    padding-top: 55px; }

.featured-clouds__flexible-deployment {
  background-color: #586977;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #829aaf;
  padding: 10px;
  text-align: center; }
  .featured-clouds__flexible-deployment p {
    margin: 0; }
  .featured-clouds__flexible-deployment a {
    text-decoration: none; }

.featured-companies {
  background: url(../../images/homepage-customer-banner.gif) bottom no-repeat;
  background-size: 100%;
  margin-bottom: 35px !important;
  padding-bottom: 50px;
  padding-top: 35px; }
  .featured-companies h3 {
    font-size: 1.25em;
    line-height: 24px;
    color: #35414c; }
  @media only screen and (max-width: 767px) {
    .featured-companies {
      background: url(../../images/homepage-customer-banner-mobile.gif) bottom no-repeat;
      background-size: 100%;
      padding-bottom: 85px; }
      .featured-companies h3 {
        font-size: 1em; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .featured-companies {
      padding-bottom: 120px; } }

.feed-box {
  background-color: #edf2f8;
  -webkit-box-shadow: -4px 0 0 0 #006097;
  -moz-box-shadow: -4px 0 0 0 #006097;
  box-shadow: -4px 0 0 0 #006097;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box; }
  .feed-box h3 {
    font-size: 1.3125em;
    line-height: 24px;
    padding: 0 15px; }
  .feed-box ul {
    padding-left: 15px;
    padding-top: 10px; }
    .feed-box ul li {
      display: inline-block;
      list-style-type: none;
      padding-right: 15px; }
      .feed-box ul li a {
        text-decoration: none; }
  @media only screen and (max-width: 767px) {
    .feed-box {
      margin-bottom: 20px !important; }
      .feed-box h3 + .feed-box__article {
        padding-top: 0; } }
  @media only screen and (max-width: 959px) {
    .feed-box ul li {
      display: block;
      padding-bottom: 5px; } }

@media only screen and (max-width: 767px) {
  .feed-box__article {
    padding-top: 10px; } }
.feed-box__article .article-type {
  box-sizing: border-box;
  display: block;
  float: left;
  padding: 0 0 0 15px;
  width: 20%; }
  @media only screen and (max-width: 959px) {
    .feed-box__article .article-type {
      width: 25%; } }
  @media only screen and (max-width: 767px) {
    .feed-box__article .article-type {
      color: #999;
      font-size: 0.875em;
      padding-bottom: 5px;
      width: 100%; } }
.feed-box__article .article-body {
  box-sizing: border-box;
  float: left;
  padding: 0 15px;
  width: 80%; }
  .feed-box__article .article-body h4 {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 5px; }
    .feed-box__article .article-body h4 a {
      text-decoration: none; }
  .feed-box__article .article-body .byline {
    line-height: 1.35em;
    margin-bottom: 5px;
    margin-top: 0; }
  .feed-box__article .article-body time {
    color: #999;
    font-size: 0.875em; }
  @media only screen and (max-width: 959px) {
    .feed-box__article .article-body {
      padding: 0 10px;
      width: 75%; } }
  @media only screen and (max-width: 767px) {
    .feed-box__article .article-body {
      width: 100%;
      padding: 0 15px; }
      .feed-box__article .article-body .byline {
        font-size: 0.875em; } }

footer {
  margin-top: 25px;
  background-color: #EDF2F8;
  border-top: 1px solid #959595;
  padding: 35px 0 55px 0; }
  footer p {
    color: #586977;
    font-size: 0.75em; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    footer .container div:last-child {
      margin-top: -40px; } }
  @media only screen and (max-width: 767px) {
    footer {
      text-align: center; } }

.footer__contact, .footer__fineprint {
  padding-left: 0; }
  .footer__contact li, .footer__fineprint li {
    border-left: 1px solid #586977;
    display: inline-block;
    line-height: 17px;
    padding: 0 10px; }
    .footer__contact li a, .footer__fineprint li a {
      font-size: 1.125em;
      text-decoration: none; }
    .footer__contact li a[href^="tel:"], .footer__fineprint li a[href^="tel:"] {
      color: #586977; }
  .footer__contact li:first-child, .footer__fineprint li:first-child {
    border-left: none;
    padding-left: 0; }
  .footer__contact li:last-child, .footer__fineprint li:last-child {
    padding-right: 0; }
  @media only screen and (max-width: 767px) {
    .footer__contact li a, .footer__fineprint li a {
      font-size: 0.75em;
      line-height: 12px; } }

.footer__fineprint li {
  line-height: 12px; }
  .footer__fineprint li a {
    font-size: 0.75em; }

.footer__social {
  float: right;
  padding: 0;
  margin-bottom: 0; }
  .footer__social li {
    display: inline-block;
    padding-left: 15px; }
    .footer__social li a {
      background: url(../../images/socialicons.png) no-repeat;
      display: block;
      height: 28px;
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
      width: 28px; }
  .footer__social .twitter a:hover {
    background-position: 0 -28px; }
  .footer__social .facebook a {
    background-position: -43px 0; }
  .footer__social .facebook a:hover {
    background-position: -43px -28px; }
  .footer__social .linkedin a {
    background-position: -87px 0px; }
  .footer__social .linkedin a:hover {
    background-position: -87px -28px; }
  .footer__social .youtube a {
    background-position: -131px 0px; }
  .footer__social .youtube a:hover {
    background-position: -131px -28px; }
  .footer__social .slideshare a {
    background-position: -173px 0px; }
  .footer__social .slideshare a:hover {
    background-position: -173px -28px; }
  .footer__social .google a {
    background-position: -217px 0px; }
  .footer__social .google a:hover {
    background-position: -217px -28px; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .footer__social {
      padding-left: 50px; }
      .footer__social .twitter, .footer__social .facebook, .footer__social .linkedin {
        padding-bottom: 15px; } }
  @media only screen and (max-width: 767px) {
    .footer__social {
      float: none;
      margin-right: auto;
      margin-left: auto;
      width: 276px; }
      .footer__social li:first-child {
        padding-left: 0; } }

h2.styleguide-heading {
  font-size: 3em;
  margin: 0.5em 0 0.25em 0 !important; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    h2.styleguide-heading {
      margin-right: 15px !important;
      margin-left: 15px !important; } }
  @media only screen and (max-width: 767px) {
    h2.styleguide-heading {
      font-size: 2.25em; } }

h3.styleguide-heading {
  font-size: 1.75em;
  margin: 2em 0 1em 0 !important;
  border-bottom: 1px solid #ccc; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    h3.styleguide-heading {
      margin-right: 15px !important;
      margin-left: 15px !important; } }
  @media only screen and (max-width: 767px) {
    h3.styleguide-heading {
      font-size: 1.5em; } }

/* State styles */
.loc-trigger.active:before {
  background: #fff;
  border-right: 1px solid #ccc;
  color: #113457; }

.loc-list.active {
  display: block; }

@media only screen and (max-width: 959px) {
  .header__nav.active {
    display: block !important; }
    .header__nav.active li {
      display: block; }
    .header__nav.active li.active .subnav-trigger {
      background: #e5e5e5;
      border-left: 1px solid #dadada;
      z-index: 2; }
    .header__nav.active li.active li .subnav-trigger {
      border: none;
      padding: 16px 19px 17px 19px;
      z-index: 0; }
    .header__nav.active li.active li.active a .subnav-trigger:before {
      color: #fff; }
    .header__nav.active li.active li.active .subnav-trigger {
      background: #cacaca;
      color: #fff;
      border-left: 1px solid #c1c1c1;
      z-index: 2; }
    .header__nav.active li.active > ul {
      display: block !important; }
      .header__nav.active li.active > ul a .subnav-trigger:before {
        color: #00a3d9; }
    .header__nav.active .header__search {
      display: block; }
    .header__nav.active .header__contact {
      display: block; } }

.header__nav-trigger.active {
  background: #f2f2f2; }

.header__nav-trigger.active:before {
  color: #113457; }
