// Variables
	// Header
	$headerColor: #113457;

	// Homepage slideshow
	$homepageSlide1: #fff;
	$homepageSlide1Text: #f04c23;
	$homepageSlide2: #fa6604;
	$homepageSlide2Text: #fff;
	$homepageSlide3: #0da3d7;
	$homepageSlide3Text: #fff;
	$homepageSlide4: #0a9c4a;
	$homepageSlide4Text: #fff;

// Import Sass partials
@import 'partials/_base';
@import 'partials/_layout';
@import 'partials/_module';